* {
    background-color: rgb(54, 77, 77);
    text-align: center;
}

h1, h3 {
    color: rgba(220, 220, 220, 0.713);
}

.button {
    background-color: darkred;
    color: rgba(220, 220, 220, 0.713);
    padding: 10px;
    font-size: 24px;
}